@use 'bootstrap';
$dc-primary: #0282F9;
$dc-banner-bg: #1C1C1C;
$dc-footer-bg: #303030;
$dc-text-dark: #464646;
$dc-text-white: #FFFFF2;
$dc-text-grey: #797777;


/* UTILITIES */

.ms_10 {
    margin-left: 10rem;
}


/* HEADER */

header {
    li{
        a {
            &:hover,
            &.active {
                border-bottom: 4px solid $dc-primary;
                color: $dc-primary!important;
            }
        }

    }
 
}

/* MAIN */


main {
    .hero_image {
        height: 500px;
        background-image: url('../img/jumbotron.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .comics {
        background-color: $dc-banner-bg;

        h1 {
            background: $dc-primary;
            color: $dc-text-white;
            display: inline-block;
            padding: 0.5rem 1.5rem;
            text-transform: uppercase;
            font-size: 1.5rem;
            margin-top: -2rem;
            margin-bottom: 2rem;
        }

        .comic {
            text-transform: uppercase;
            color: white;

            img {
                height: 200px;
                aspect-ratio: 1 / 1;
                object-fit: cover;
                object-position: top;

            }
        }
    }
}


/* FOOTER */
#site_footer {
    background-image: url('../img/dc-logo-bg.png'), url('../img/footer-bg.jpg');
    background-position: right top, left top;
    background-size: contain, cover;
    background-repeat: no-repeat, no-repeat;
    .container {
        ul {
            list-style: none;
            color: $dc-text-grey;
            padding: 0;
            li {
                a {
                    text-decoration: none;
                    cursor: pointer;
                    color: $dc-text-grey;
                    &:hover {
                        text-decoration: underline;
                        color: $dc-text-white;
                    }
                }
            }
        }
        p {
            color: $dc-text-grey;
            a {
                color: dc-primary;
            }
        }
    }

        .footer_bottom {
            background-color: $dc-footer-bg;
            .signUp_banner {
                .signUp_button {
                    a {
                        text-decoration: none;
                        padding: 0.5rem 1.5rem;
                        border: 1px solid $dc-primary;
                        text-transform: uppercase;
                        color: $dc-text-white;
                        transition: 600ms;
                        &:hover {
                            color: $dc-banner-bg;
                            background-color: $dc-primary;
                            border: 1px solid $dc-text-white;
                        }
                    }
                }
                .follow_us {
                    .follow_title{
                        h5 {
                            color: $dc-primary;
                            margin: 0;
                        }
                    }
                    .icons {
                        span {
                            border-radius: 50%;
                            transition: 500ms;
                            &:hover{
                                background-color: $dc-text-white;
                            }
                        }
                        
                    }

                }
            }
        }

}